Library/assetDatabase3
*.sln
ProtoVer2.sln
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/metadata/d4/d4acc1c6d6b2ee646933919a3940352f
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
ProtoVer2-csharp.sln